@model QlKho.Models.TraCuuPhieuXuat
@{
    ViewData["Title"] = "TraCuuPhieuXuat";
}
<form asp-action="TraCuuPhieuXuat">


    <div class="item">
        <div class="form-group">
            <div>
                <label class="label-item">Tim theo</label>
            </div>
            <div>
                <select class="custom-select-sm item-TraCuu">
                    <option selected disabled>Ma phieu</option>
                    @*<option value="kho1">Kho 1</option>
                        <option value="kho2">Kho 2</option>*@
                </select>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label asp-for="TuKhoa" class="label-item">Tu Khoa</label>
            </div>
            <div>
                <input asp-for="TuKhoa" class="item-TraCuu" />
            </div>
        </div>
        <div class="form-group">
            <div>
                <label asp-for="Kho" class="label-item">Kho</label>
            </div>
            <div>
                <select asp-for="Kho" class="custom-select-sm item-TraCuu">
                    <option selected disabled>Chon kho nhap</option>
                    @foreach (var item in Model.pS)
                    {
                        <option value=@item.STOREID>@item.STOREID</option>
                    }
                </select>
            </div>
        </div>
        <div class="form-group">
            <div>
                <label asp-for="TuNgay" class="label-item">Tu Ngay</label>
            </div>
            <div>
                <input asp-for="TuNgay " class="item-TraCuu">
            </div>
        </div>
        <div class="form-group">
            <div>
                <label asp-for="DenNgay" class="label-item">Den Ngay</label>
            </div>
            <div>
                <input asp-for="DenNgay" class="item-TraCuu" />
            </div>
        </div>
    </div>
    <div class="item">
        <div class="form-group">
            <div>
                <label asp-for="HinhThucXuat" class="label-item">Hinh Thuc Nhap</label>
            </div>
            <div>
                <select asp-for="HinhThucXuat" class="custom-select-sm item-TraCuu">
                    <option selected disabled>Chon hnh thuc</option>
                    @*@foreach (var item in Model.pS)
                        {
                            <option value=@item.STOREID>@item.STOREID</option>
                        }*@
                </select>
            </div>
        </div>
        <div class="form-group">
            <input class="nav-link button-TimKiem" type="submit" value="Tim Kiem" />
        </div>
    </div>
    <div>
        <table class="content-table">
            <thead>
                <tr>
                    <th style="width: 50px"></th>
                    <th style="width: 150px">Ma phieu xuat</th>
                    <th style="width: 150px">Ngay xuat</th>
                    <th style="width: 200px">Kho xuat</th>
                    <th style="width: 150px">Tong tien</th>
                    <th class="last-item">Nha cung cap</th>
                </tr>
            </thead>
            <tbody>
                @if (Model.po != null)
                {
                    var i = 0;
                    @foreach (var item in Model.po)
                    {
                        i++;
                        <tr>
                            <td>@i</td>
                            <td>@item.OUTPUTVOUCHERID</td>
                            <td>@item.OUTPUTDATE</td>
                            <td>@item.ORIGINATESTOREID</td>
                            <td></td>
                            <td class="last-item"></td>
                        </tr>
                    }
                }



            </tbody>
        </table>

    </div>

</form>

